<% if creatable? %>
<tr class="<%= editable? ? '' : 'hidden' %>" id="report-item-new">

  <% if editable? 
        nrp = new_report_path(report_id: @report.id, filter: filter_params_permitted, table_name: params[:table_name],
                              runner_hash: @report.runner.runner_hash)
  
  %>
  <td class="report-el report-edit-btn-cell"><%= report_edit_btn 'new'%>
      <div class="">
        <%= link_to "", nrp, remote: true, class: "btn btn-primary report-new-item-btn glyphicon glyphicon-plus", title: 'add new report item' %>
      </div>
  </td>
  <% end %>
  <% i = 0 %>

  <% @results.fields.each do |field| %>
    <td data-col-type="<%=field %>" data-col-table="<%=@result_tables[i] %>" class="report-el-was-from-new report-el <%= field == 'id' ? 'report-el-object-id' : '' %>"></td>
    <%  i += 1 %>
  <% end %>

  </tr>
</tr>
<% end %>